 
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              {{!-- <span class="badge badge-success">New</span> --}}
              <a href="{{url}}">{{title}}</a>
              <span class="float-right">
                {{#unless saved}}<a href="#" class="badge badge-primary action-save" data-article-id="{{_id}}">Save</a>{{/unless}}
                {{#if saved}}<a href="#" class="badge badge-danger action-unsave" data-article-id="{{_id}}">Unsave</a>{{/if}}
              </span>
            </h5>
            <h6 class="card-subtitle text-muted mb-2">by {{author}}</h6>
            
            <p class="card-text">{{summary}}</p>
        
          </div>
          
          {{#if saved}}
            {{#if notes}}
          <ul class="list-group list-group-flush" >
            {{#each notes}}
            <li class="list-group-item"><a href="#" class="badge badge-danger action-deletenote mr-2" data-article-id="{{../_id}}" data-note-id="{{_id}}">Delete note</a>{{noteText}}</li>
            {{/each}}
          </ul>
             {{/if}}
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
            
                <form action="/api/article" method="POST" class="note-form">
                  <div class="form-group">
                    <label for="note-text-{{_id}}">New note</label>
                    <input class="form-control" id="note-text-{{_id}}" {{!--  aria-describedby="noteHelp"--}} name="note-text-{{_id}}" placeholder="Enter note" type="text">
                    <input type="hidden" name="article-id" id="article-id-{{_id}}" value="{{_id}}">
                  </div>
                </form>
              </li>
            </ul>

          
          {{/if}}

          <div class="card-footer">
             Posted on
             {{!-- replace this with handlebars helpers --}}
            <time datetime="{{publishDateFull}}" title="{{publishDate}}">
              <span class="date">{{publishDateDate}}</span>
            </time>
          </div>
        </div>
 