 
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <span class="badge badge-success">New</span>
              <a href="{{url}}">{{title}}</a>
              <small class="card-text text-muted">by {{author}}</small>
              <span class="float-right">
                {{#unless saved}}<a href="#" class="badge badge-primary action-save">Save</a>{{/unless}}
                {{#if saved}}<a href="#" class="badge badge-danger action-unsave">Unsave</a></h5>{{/if}}
              </span>
            </h5>
            
            <p class="card-text">{{summary}}</p>
        
          </div>
          <div class="card-footer">
             Posted on
             {{!-- replace this with handlebars helpers --}}
            <time datetime="{{publishDate}}" title="{{publishDateFull}}">
              <span class="date">{{publishDateDate}}</span>
            </time>
          </div>
        </div>
 